.git
.github
.dockerignore
Dockerfile
vendor/
node_modules/
.env
.env.backup
.phpunit.result.cache
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests/
